/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014-3-26, 21:19:35
    Author     : ibm
*/
*
{
    margin: 0;
    padding: 0;
}
body
{
    font-family: arial,"Hiragino Sans GB","Microsoft Yahei",sans-serif;
}
.background
{
   background-image: url("../images/bg_02.jpg"); 
   background-repeat: no-repeat;
   /*min-width: 985px;*/
   /*min-height: 640px;*/
   width: 100%;
   height: 750px;
   overflow: hidden;
   background-size: cover;
   background-position: 50% 90%;
}
.top
{
    width: 100%;
    height: 60px;
    background-color: rgba(3, 3, 18, 0.290196);
}
.navBar
{
    width: 980px;
    height: 60px;
    margin:0px auto;
    padding-left: 30px;
}
.navBar li
{
    float: left;
    width: 100px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    list-style-type: none;
}
.navBar li a:link
{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}
.navBar li a:visited
{
    color: #fff;
}
.navBar li a:hover
{
    color:#66f;     
}
.navBar li a:active
{
    color: #66f;
}
.codeList
{
    margin-top: 15px;
    margin-bottom: 15px;
}
.codeList li
{
    margin-top: 5px;
    margin-bottom: 5px;
    list-style-position: inside;
}
.codeList li a:link
{
    color: #555;
    text-decoration: none;
    display: block;
}
.codeList li a:visited
{
    color:#555;
}
.codeList li a:hover
{
    color: #003399;
    text-decoration: underline;
}

.codeList li a:active
{
    color: #ba2636;
}

#result
{
    color: #f00;
    font-weight: bold;
    margin-top: 5px;
}
#content p
{
    line-height: 1.5em;
    margin-bottom: 20px;
    text-indent: 2em;
    font-family: Georgia;
}

#recentArticle li
{
    width:208px; 
    white-space:nowrap;
    overflow:hidden;
    text-overflow:clip;
    list-style-type: inside;
}

/* Added Jun 7th, 2014 --- for add comment block*/
.control
{
    margin-top: 10px;  
}
.required
{
    font-size: 14px;
    line-height: 28px;
    color: #999;
}
.commentForm input, #comment
{
    font-family: 'Lucida Grande', Verdana, Sans-Serif;
    padding: 4px;
    line-height: 18px;
    font-size: 0.9em;
    color: #555;
    border-radius: 3px;
    border:1px solid #909090;
    -webkit-transition: box-shadow 0.30s ease-in-out;   //只让box-shadow属性做过渡效果！
    -moz-transition:  box-shadow 0.30s ease-in-out;      //firefox
}
.commentForm input:focus, #comment:focus
{
    outline:none;
    border:#87C6F9 1px solid;
    box-shadow: 0 0 8px rgba(103, 166, 217, 1);
}

#name, #email, #url
{
    width: 220px;
}

#comment
{
    margin-top: 5px;
}

input.btn
{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 58px;
    height: 32px;
    line-height: 20px;
    padding: 3px 10px;
    font-size: 14px;
    background-color: #87318c;
    color: #fff;
    border:none;
}
input.btn:focus
{
    box-shadow: none;
    border:none;
}
input.btn:hover
{
    background-color: #99389f;
}
input.btn:active
{
    background-color: #764479;
    color: #501d53;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
}
.commentList
{
    color: #333;
    font-size: 16px;
    line-height: 24px;
}
.commentList li
{
    list-style: none;
    border-bottom: 1px dashed #eee;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.commentList a:link
{
    color: #000;
}
.commentAuthor
{
    margin-bottom: 5px;
}
.commentAuthor .author
{
    font-weight: bold;
}
.commentContent p
{
    margin-bottom: 5px;
}
.commentInteraction
{
    text-align: right;
}
.commentInteraction a
{
    margin-right: 15px;
}
.control span
{
    vertical-align: middle;
}
.control span img
{
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-left: 30px;
    margin-bottom: 2px;
}
.commentList a:visited
{
    color: #000;
}
.pagination
{
    margin-top: 20px;
    margin-bottom: 20px;
}
.pagination a
{
    display: block;
    line-height: 24px;
    border: #ccc solid 1px;
    color: #333;
    border-radius: 2px;
    padding: 3px 8px;
    text-decoration: none;
    float: left;
    margin-left: 10px;
    text-align: center;
}
.pagination a:link
{
    
}
.pagination a:active
{
    background-color: #eee;
    color: #ccc;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
}
.pagination a:hover
{
    border: #999 solid 1px;
    background-color: #eee;
}
a.current
{
    border: #999 solid 1px;
    background-color: #eee;
    color: #333;
}
/*.reference
{
    width: 80%;
    background-color: #eee;
    padding: 5%;
    margin: 0px auto;
}*/
/* End Add Jun 7th, 2014*/

.logo-wrap
{
    float: left;
    padding-left: 20px;
    margin-top: 22px;
    vertical-align: middle;
}
.top-wrap {
    margin: 0 auto;
}

@media screen and (max-width: 700px)
{
    .navBar {
        width: 120px;
        height: 200px;
        padding: 0;
        position: fixed;
        top: 60px;
        right: -120px;
        background-color: rgba(3, 3, 18, 0.290196);
        -webkit-transition: right 0.3s ease;
        -ms-transition: right 0.3s ease;
        -moz-transition: right 0.3s ease;
        -o-transition: right 0.3s ease;
    }
    .menuPopLeft {
        right: 0;
    }
    .navBar li {
        float: none;
        width: 100%;
        height: 40px;
        line-height: 40px;
        margin: 0 auto;
        /*border-bottom: 1px solid #333;*/
    }
    .navBar li:hover {
        cursor: pointer;
        background-color: rgba(3, 3, 18, 0.5);
    }
    .navBar li a {
        width: 100%;
        display: inline-block;
    }
    .navBar li a:hover {
        color: #fff;
    }

    .nav-icon {
        display: block;
        float: right;
        margin-top: 14px;
        margin-right: 20px;
        width: 32px;
        height: 32px;
        border-radius: 2px;
        background: url('../images/menu.png');
    }

    .nav-icon:hover {
        cursor: pointer;
    }

    .m-list {
        width: auto;
        margin: 0;
        padding: 10px 6px;
        background-color: #eee;
    }

    .codeList {
        padding: 5px 10px 9px;
        margin: 6px 0;
        background: #fff;
        border: 1px solid #e0e0e0;
    }

    .codeList li {
        list-style-type: none;
    }

    .m-footer {
        width: auto;
    }
    .w700 {
        width: auto;
    }
    .w680 {
        width: auto;
    }
    #comment {
        width: 95%;
    }
    .prettyprint {
        width: 250px;
        overflow-x: scroll;
    }

}

@media screen and (min-width: 700px)
{
    .top-wrap {
        width: 700px;
    }
    .nav-icon {
        display: none;
    }
}

/*@media screen and (min-width: 980px)*/
/*{*/
    /*.top-wrap {*/
        /*width: 980px;*/
    /*}*/
/*}*/